[Unit]
Description=nwg-drawer

[Service]
Type=simple
StandardOutput=journal
ExecStart=/home/deck/.nix-profile/bin/nwg-drawer -r -nocats -close -c 5 -wm hyprland \
    -pbexit "hyprctl dispatch exit" -pbreboot "systemctl reboot" \
    -pbpoweroff "systemctl poweroff" -pbuseicontheme
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
