[Desktop Entry]
Name=Hyprdose
Exec=/usr/bin/sudo /home/deck/.config/hyprdose/init.sh
Comment=
Terminal=false
Icon=gnome-panel-launcher
Type=Application
